.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid var(--color-3);
}

.headerInner {
  margin: 0 auto;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  height: 32px;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  width: 80%;
  max-width: 720px;
  padding: 0 12px;
  text-align: center;
}

.bigLogo {
  width: 120px;
  margin-bottom: 32px;
}
