.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 20px;
}

.chips {
  display: flex;
  gap: 8px;
}

.chip {
  border: 2px solid var(--main-red);
  background: var(--color-white);
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.active {
  background: var(--main-red);
  color: var(--color-white);
  border-color: var(--main-red);
}

.body {
}
